@charset "UTF-8";

body {
    background: rgb(247, 247, 247);
    padding-top: 80px;
}

header {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: #3f95a0;
    color: white;
    box-shadow: #3f95a075 0px 2px 4px;
    padding: 20px;
}
header input[type='text']{
    box-sizing: border-box;
    width: 100%;
    float: left;
    height: 40px;
    color: black;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #77ceda;
    border: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    margin: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 50px;
    color: white;
}
header button {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    appearance: none;
    cursor: pointer;
}
header button svg {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
}
header button svg path {
    fill: #3f95a0;
}

ul {
    padding: 0 15px;
}

ul li {
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    display: block;
    background: white;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    box-shadow: rgba(0,0,0,0.3) 0px 2px 4px; 
    font-weight: 700;
}

ul .buttons {
    display: block;
    float: right;
    position: relative;
    margin-top: -5px;
    margin-right: -20px;
}

ul li button, #deleteAll {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}
button.delete {
    right: 65px;
    border: rgba(0,0,0,0.5) solid 1px;
}
button.delete svg{
    stroke: rgba(0,0,0,0.5);
}
button.complete {
    right: 25px;
    border: #3f95a0 solid 1px;
}
button.complete svg{
    stroke: #3f95a0;
}

button svg{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
}

button.complete:hover{
    background: #3f95a0;
    transition: 0.2s ease;
}

button.complete:hover svg{
    stroke: white;
    transition: 0.2s ease;
}
button.delete:hover{
    border: rgb(182, 29, 29) solid 1px;
    background: rgb(182, 29, 29);
    transition: 0.2s ease;
}

button.delete:hover svg{
    stroke: white;
    transition: 0.2s ease;
    
}

button.completeButton {
    background: #3f95a0;
}
button.completeButton svg{
    stroke: white;
}

#deleteAll {
    position: absolute;
    right: 20px;
    bottom: 20px;
}